    
<div>

    <header>
        <img  class="header-img" routerLink="/home" src="assets/Images/logo.jpg"  alt=" Logo" /> 
        <nav>
          <ul>

            
            <li><a *ngIf="authApi.isloggedIn" class="button_login" href="/home">Home</a> </li>
            <li><a *ngIf="authApi.isloggedIn" class="button_login" href="/cars">Book Now</a> </li>
            <li><a  *ngIf="authApi.isloggedIn" class="button_login" href="/book">Books</a></li>
            <li><a *ngIf="!authApi.isloggedIn" class="button_login"  href="/login">Login</a></li>
            <li><app-logout *ngIf="authApi.isloggedIn"></app-logout></li>
            
            

          </ul>
        </nav>
    </header>
</div>
 
   
 
<main>
    <router-outlet></router-outlet>
  </main>
  
  