button{
    padding: 1em 2em;
    font-weight: 600;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

button:hover,
button:focus{
    background-color: rgb(44, 44, 44);
    color: #fff;
}