.container {
  display: flex;
  gap: 40px;
  margin-top: 8em
}

.card-container {
  flex: 1;
}

.form-container {
  flex: 1;
}

.form-field {
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  font-weight: bold;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.centered-text {
  text-align: center;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container mat-card {
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  
  .form-container {
    margin-top: 20px;
  }
}
mat-card-actions {
  display: flex;
  justify-content: space-evenly;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

error-msg{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  
}