
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   min-height: 430px;
   margin: 5em;
}
.carImage {
    height: 150px;
    width: 250px;
    object-fit: cover;
}
mat-card {
    
    margin: 3em;
}
mat-card-actions{
    display: flex;
    justify-content: space-around;
    
}
mat-card-footer{
    display: flex;
    justify-content: space-around;
}
main{
    background-image: url("/assets/Images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

